
html, body {
    overflow-x: hidden;
  }
body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
     background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
}
/*-------------------------------------------Navigation Bar-----------*/
.navmenu {
    padding: 5px;
    overflow: hidden;
    color: #eee;
}

.navmenu a {
    padding: 14px 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.navmenu a:hover {
    background-color: purple;
    transition: 1s;
}
/*------------------------------------------Sister Resin Craft Logo-----------*/
.logo {
    text-align: center;
}
.logo img {
    border-radius: 8px;
    border: 8px solid #fff
    
}

/*------------------------------------------welcome Message-----------*/
.welcome-message {
    text-align: center;
    font-size: 20px;
}
/*------------------------------------------Coasters Section-----------*/


.coasters img {
     height: 350px;
     width: 350px;
    }
.coasters {
    margin: 5px;
    float: left;
    width:100%;
}

.description{
padding: 15px;
text-align: left;

}
.column {
    float: left;
    width: 33.3%;
    padding: 0;
  }

  /*-------------------------------About us p2-----------------*/
.aboutus{
    text-align: center;
    font-size: 20px;
}

.aboutusheading {
    font-size: 40px;
}
.list {
    text-align: center;
}
.list ul {
    display: inline-block;
    text-align: left;
}

/*-------------------------------------Review Page----------------*/


.checked {
    color: orange;
  }

  .reviews {
      text-align: center;
  }

  .picreview img {
      height: 150px;
      width: 150px;
  }

  .reviewlink  {
      font-size: 20px;

  }
   /*------------------------------------------footer-----------*/
   footer {
    clear: both;
    text-align: center;
    padding: 5px;
    background-color: DarkSalmon;
    color: white;
  }
  footer a{
    font-size: 30px;
    padding:5px;
  }
/*---------------------------------------media-queiries-----------------*/

  @media screen and (max-width: 920px) 
  {
      
    html, body {
        overflow-x: hidden;
      }
    body{
        padding:0;
        margin: 0;
        height: auto;
        width: auto;
        position: relative
      }
    .logo img{
        height:40%;
        width:40%;
    }
    .navmenu a {
        padding: 14px 15px;
    
        font-size: 14px;
        color: black;
    }
    .welcome-message{
        font-size: 18px;
        width:100%;

    }

    .description{
        padding: 0;
        text-align: left;
    }

    .column{
        width: 100%;
       
    }
    .coasters img {
        display:block;
        margin:0 auto;
        height: 100px;
        width: 100px;
    }

    .description {
        text-align: center;
    }
       footer a{
        font-size: 20px;
        padding:10px;
      }

    .aboutus {
        font-size: 25px;
}

}
